header {
  display: flex;
  justify-content: space-between;

  padding: 8px;
  width: 100%;
  background-color: dimgray;
}

header nav {
  display: flex;
}

header nav ul {
  display: flex;
  align-items: center;
  gap: 1rem;
}

header nav ul li {
  list-style-type: none;
}

header nav ul li a {
  color: white;
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}

header nav ul li a:hover {
  color: darkblue;
}