button {
  cursor: pointer;
  border: none;
  padding: 10px;
  border-radius: 8px;
  transition: box-shadow 0.3s ease-in-out;
}

button:hover {
  box-shadow: 0 0 1px 2px rgba(59, 59, 59, 0.5);
  /* border: 1px solid rgba(255, 255, 255, 0.5) */
}